*{
	margin: 0px;
	padding: 0px;
    list-style: none;
    /* overflow-x: hidden; */
    /* outline: 1px solid red; */
}
.main_content{
    width: 100%;
}
.slider_img{
	width: 100%;
	height: 650px;
}
#sliderBoard{  
	border: 1px solid #ccc;
	width: 100%;
	height: 650px;

	margin: 0px auto;
	overflow: hidden;
}
#content{		
	position: relative;
}
#content li{	
	float: left;
}
/* #slider1 {
    display: inline-block;
    position: absolute;
    left: calc((25% - 296px)/2);
    top: 230px;
    font-size: 48px;
    width: 250px;
    height: 48px;
    border: 3px solid rgba(250, 247, 247, 0.8);
    text-align: center;
    padding: 20px;
    color:white;
}
#slider2 {
    display: inline-block;
    position: absolute;
    left: calc(((25% - 296px)/2) + (25%));
    top: 230px;
    font-size: 48px;
    width: 250px;
    height: 48px;
    border: 3px solid rgba(250, 247, 247, 0.8);
    text-align: center;
    padding: 20px;
    color:white;
}
#slider3 {
    display: inline-block;
    position: absolute;
    left: calc(((25% - 296px)/2) + (50%));
    top: 230px;
    font-size: 48px;
    width: 250px;
    height: 48px;
    border: 3px solid rgba(250, 247, 247, 0.8);
    text-align: center;
    padding: 20px;
    color:white;
}
#slider4 {
    display: inline-block;
    position: absolute;
    left: calc(((25% - 296px)/2) + (75%));
    top: 230px;
    font-size: 48px;
    width: 250px;
    height: 48px;
    border: 3px solid rgba(250, 247, 247, 0.8);
    text-align: center;
    padding: 20px;
    color:white;
} */
.about h2{
    color: #8B5E3E;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    margin: 90px 0px 20px 0px;
    
    
}
.about .line{
    border-top: 1px solid #8B5E3E;
    width: 1140px;
    margin: auto;
}

.about p{
    font-size: 16px;
    color: #707070;
    text-align: center;
    line-height: 2;
    padding: 50px ;
    letter-spacing: 2px;
    
}

.about_pic{
    background-image: url(../img/Index/png/index_about1.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    background-position: center center;
    margin-top: 130px;
    


}
.about_pic .box{
    width: 520px;
}

.about_pic .box .rectangle{
    width: 498px;
    height: 658px;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    left: 200px;
    top: -120px;
    box-shadow: 5px 5px 10px 0px #707070;


}
.about_pic .rectangle img{
    width: 100%;
    height: 660px;
    position: absolute;
    top: -20px;
    left: -20px;
    
}


.news_header .news_text{
    color: #8B5E3E;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    margin: 90px 0px 20px 0px;
}
.news_header .line{
    border-top: 1px solid #8B5E3E;
    width: 1140px;
    margin: auto;
    padding: 100px 0px 0px 0px;
}

.index_news{
    display: flex;
    max-width: 1140px;
    height: 800px;
    overflow: hidden;
    justify-content: center;
    margin: auto;
    /* border: 1px solid blue; */
   
}

.index_news .news_left{
    background-image: url(../img/Index/png/花瓣背景.png);
    background-size: 95%;
    min-width: 500px;
    height: 800px;
    background-position: bottom left;
    background-repeat: no-repeat;
    left: 0px;
    /* border: 1px solid red; */
}

.news_left .news_para{
    color: #707070;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    width: 500px;
    height: 800px;
    padding: 0px auto;
    /* border: 1px solid green; */
    left: 10%;
    z-index: 1;
}

.news_left .news_para > h3{
    font-size: 24px;
}
.news_left .news_para > P{
    padding: 10px 20px;
}

.news_left .news_para .order_btn{
    text-decoration: none;
    width: 150px;
    height: 30px;
    z-index: 1;
}

.news_left .news_para .order_btn .btn{
    border: 0;
    background-color: #8B5E3E;
    border-radius: 10px;
    color: white;
    width: 150px;
    font-size: 16px;
    cursor: pointer;   
}
.news_left .news_para .order_btn:hover .btn{
    background-color: white;
    border: 2px solid #8B5E3E;
    color:#8B5E3E ;
} 

.index_news .news_right{
    width: 600px;
    right: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.index_news .news_right img{
    width: 100%;
}
.course_header{
    min-width: 1140px;

}

.course_header .course_text{
    color: #8B5E3E;
    /* min-width: 1140px; */
    font-size: 30px;
    display: inline-block;
    position: relative;
    margin: 90px 0px 20px 0px;
    left: 10%;   
}
.course_header .line{
    border-top: 1px solid #8B5E3E;
    width: 1140px;
    margin: auto;
    padding: 100px 0px 0px 0px;

} 
.main_course{
    margin: auto;
    width: 1140px;
}
.main_course .course1{
    display: flex;
    justify-content: space-around;
    
}
.main_course .course1 > li{
    
    width: 260px;
    height: 282px;
    overflow: hidden;  
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

.course1 .item1{
    width: 260px;
    height: 270px;
    position: relative;      
}
.course1 .item1 > p{
    color: white;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 30%;
    z-index: 1;
    
}


.course1 .img_block{
    position: relative;
    width: 300px;
    height: 350px;
    transition: transform 1s ease;

}


.course1 .img_block img{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.course1 .img_block:hover img{
   transform: scale(1.2);
   transform-origin: 50% 50%;
}


.main_course .course2 > li{
    width: 1140px;
    height: 700px;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}
.course2 .item2{
    max-width: 1140px;
    height: 700px;
    position: relative;      
}
.course2 .item2 > p{
    color: white;
    font-size: 2em;
    position: absolute;
    bottom: 30px;
    left: 40%;
    z-index: 1;
    
}
.course2 .img_block{
    position: relative;
    width: 1140px;
    height: 700px;
    transition: transform 1s ease;

}
.course2 .img_block img{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.course2 .img_block:hover img{
   transform: scale(1.1);
   transform-origin: 50% 50%;

}


.product_header .product_text{
    color: #8B5E3E;
    font-size: 24px;
    display: inline-block;
    position: relative;
    margin: 90px 0px 20px 0px;
    left: 10%;
}
.product_header .line{
    border-top: 1px solid #8B5E3E;
    width: 1140px;
    margin: auto;
    padding: 100px 0px 0px 0px;
}

.product{
    margin: auto;
    width: 1140px;
}


.product .p_container{
    position: relative;
    display: block;
    top: 50%;
    width: 100%;
    white-space: nowrap;
    letter-spacing: normal;
    animation-timing-function: linear;
    animation-duration: 10s;
    
    
}
.product .p_container .item{
    display: inline-block;
    position: relative;
    width: 260px;
    height: 275px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    
}
.product .p_container .item::before{
    content: " ";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    transform: scale(0);
    background: rgba(150, 89, 28, 0);
    opacity: 1;
    transition: 0.25s;
}
.product .p_container .item:hover::before{
    /* border:5px solid white; */
    transform: scale(1);
    background: rgba(150, 89, 28, 0.5);
    opacity: 1;
    }
.product .p_container .item .text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 85%;
    border: 1px solid rgba(250, 247, 247, 0);
    box-sizing: border-box;
    transition: 0.25s;
} 
.p_container .item:hover .text-box{
    border: 1px solid rgba(250, 247, 247, 1);

}
.product .p_container .item .text-box p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: rgba(255, 255, 255, 0);
    transition: 0.25s;
    line-height: 2;
} 

.p_container .item:hover .text-box p{
    color: rgba(255, 255, 255, 1);
}

.product .p_container .item  img{
    width: 100%;
    top: calc(50% - 210px);
    left: calc(50% - 128px);
    position: absolute;
    z-index: -1;
}

.p_para1{
    margin: 100px 0px -50px 0px ;
    display: flex;
    width: 1140px;
    
}
.p_para1 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: calc(1140px - 960px);
    height: 100%;
}
.p_para1 ul li{
    font-size: 24px;
    color: #8B5E3E;
    margin: 10px;
    
}
.bgc{
    min-width: 100%;
    height: 150px;
    background-color: #FCF8EA;
    /* position: absolute; */
    /* bottom: -50px; */
    z-index: -1;
}

.p_para2{
    margin: 100px 0px 50px 0px ;
    display: flex;
    width: 1140px;
}
.p_para2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: calc(1140px - 960px);
    height: 100%;
}

.p_para2 ul li{
    font-size: 24px;
    color: #8B5E3E;
    margin: 10px;
   
}




















